@use "../../assets/sass/variables" as v;

.propertieCardWrapper {
  border-radius: 5px;
  overflow: hidden;
  display: inline-flex;
  flex-wrap: wrap;
  img {
    width: 295px;
    height: auto;
  }
}

.propertieInfo {
  display: flex;
  flex-direction: column;
  gap: 15px;
  background-color: v.$black;
  padding: 15px;
  .propertieTitle {
    color: v.$lightRed;
  }
  .propertieSpecsWrapper {
    display: inline-flex;
    gap: 15px;
  }
  .propertieDescription {
    color: v.$lightBrown;
  }
  .propertieInteractionsWrapper {
    display: inline-flex;
    justify-content: space-between;
  }
}
