.navigation {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navItems {
  text-decoration: none;
  color: black;
  font-size: 1.2em;
  font-weight: bold;
}

.navItems:hover {
  color: rgb(85, 83, 83);
}
