.searchBar {
  outline: none;
  padding-left: 13px;
  border: none;
}

.lineSearch {
  width: 450px;
  margin-left: 427px;
  height: 1px;
  background-color: black;
}

.searchIcon {
  cursor: pointer;
}

.img_container {
  max-height: 250px;
  overflow: hidden;
}

.img_container img{
  width: 110%;
  height: 100%;
  object-fit: cover;
}
