.formik{
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.formTypo{
    color: #357a38;
}

.field{
    padding: 0.6rem;
    border-radius: 0.3rem;
    border: 1px solid #357a38;
    color: #357a38;

    &:focus{
        background-color: #c6ff00;
        border-color: #4caf50;
        -webkit-box-shadow: none;
	    box-shadow: none;
    }

    &::placeholder{
        color:#4caf50;
    }
}

button {
    cursor: pointer;
    padding: 0.5rem;
    border-radius: 0.3rem;
    background-color: #357a38;
    color: #c6ff00;
    border: 1px solid #357a38;

    &:hover{
        background-color: #c6ff00;
        color: #357a38;
    }
}

.errorMessage{
    padding: 0.5rem;
    color: red;
}