@use "../../assets/sass/variables" as v;
.homeMain {
  margin: 80px 0;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  gap: 50px;
  flex-wrap: wrap;
  .infoArticle {
    width: 400px;
    .infoTitle {
      font-family: v.$primaryFont;
    }
    .infoDescription {
      font-family: v.$secondaryFont;
    }
  }
}
