@use "../../assets/sass/variables" as v;
.inputFilterArticle {
  height: 150px;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: v.$darkRed;
  opacity: 0.9;
}
.inputSearchContainer {
  padding: 5px;
  max-width: 300px;
  display: inline-flex;
  align-items: center;
  background-color: white;
  img {
    width: 20px;
  }
  .inputSearch {
    width: 100%;
    border-radius: 2px;
    padding: 6px;
    border: none;
    &:hover {
      outline: none;
      border: none;
    }
    &:focus {
      outline: none;
    }
  }
}
