@use "../../assets/sass/variables" as v;

.headerWrapper {
  margin-bottom: 30px;
  display: inline-flex;
  justify-content: space-between;
  flex-wrap: wrap;
  .headerImg {
    width: 50px;
    height: auto;
  }
  .headerTitle {
    font-family: v.$titleFont;
  }
}

.HeaderBtnLogo {
  display: inline-flex;
  align-items: center;
  flex-wrap: wrap;
  color: white;
  gap: 15px;
}

@media screen and (max-width: 515px) {
  .headerTitle {
    display: none;
  }
}
