$black: #0b090a;
$lightBlack: #161a1d;
$darkRed: #660708;
$red: #a4161a;
$lightRed: #ba181b;
$lightBrown: #b1a7a6;
$gray: #d3d3d3;
$lightGray: #f5f3f4;
$white: #ffffff;

//fonts
$primaryFont: "Poppins", "sans serif";
$secondaryFont: "EB Garamond", "serif";
$titleFont: "Poller One", "cursive";
